<div class="overlay">
  <button class="previous-btn" (click)="previous.emit(selectedImg)">
    <i class="fas fa-chevron-left previous-icon"></i>
  </button>
  <div class="lightbox">
    <button class="close-btn" (click)="close.emit()">
      <i class="fas fa-times close-icon"></i>
    </button>
    <img *ngIf="selectedImg >= 0" [src]="gallery[selectedImg]" alt="" />
  </div>
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
  <button class="next-btn" (click)="next.emit(selectedImg)">
    <i class="fas fa-chevron-right next-icon"></i>
  </button>

  <div class="gallery">
    <img
      *ngFor="let img of gallery; index as i"
      (click)="change.emit(i)"
      [ngClass]="{ active: i === selectedImg }"
      [src]="img"
      alt=""
    />
  </div>
</div>
